<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
{% include "game/header.html" %}
{% block head %}{% endblock %}
</head>
<body class="base">
<div class="container">        
<div class="header"></div>
<div class="content_box">
<div class="content">
{% block content %}{% endblock %}
</div>
<div class="sidebar">
{% include "game/sidebar.html" %}
</div>
</div>
<div class="footer">
{% include "game/footer.html" %}
</div>  
</div>
{% block scripts %}{% endblock %}
</body>
</html>