/* Abstract Caving Main CSS Sheet
*/


/* 1) Main CSS */
.base {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 62.5%;  /*Standard Practice -- see http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/*/
    padding: 0;
    margin: 0;
    display: block;
    background-color: #2f4f4f;
}

.container {
    padding: 0.3em;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 0.3em solid #a9a9a9;
    width: 100.2em;
}

.header {
    height: 8.2em;
    padding: 0;
    background: no-repeat;
    background-size: 100% 8.2em;
    background-image: url('/static/the-cave-of-knowledge.jpg')
}

.front_page_container {
    margin: 0.6em 0 0;
}
.menu_bar {
    border-width: 0 0 0.1em 0.1em;
    border-style: solid;
    border-color: #DDDDDD;
}
.menu_bar ul {
    list-style: none outside none;
    padding: 0;
    margin: 0.1em 0;
}
.menu_bar li {
    float: left;
    padding: 0.5em 0;
    background: none repeat scroll 0% 0% #EFEFEF;
    border: 0.1em solid #DDDDDD;
    letter-spacing: 0.05em;
}
.menu_bar a {
    text-decoration: none;
    color: #000000;
    padding: 0.4em 1.0em;
    font-size: 1.5em;
}
.content_box {
    width: 100%;
    clear: both;
}
.content {
    width: 72.8%;
    float: left;
    border-width: 0.1em 0.1em 0 0;
    border-style: solid;
    border-color: #DDDDDD;
    font-size: 1.3em;
    padding: 0.1em;
}
.content h1 {
    text-align: center;
}
.content p {
    line-height: 1.44em;
    margin-bottom: 1.44em;
}
.content ul {
    line-height: 1.44em;
}
.content li {
    line-height: 1.44em;
    margin: 0.50em 0;
}
.sidebar {
    width: 26.8%;
    border: 0;
    float: left;
    border-width: 0.1em 0 0 0.1em;
    border-style: solid;
    border-color: #DDDDDD;
    font-size: 1.3em;
    margin-left: -1px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0.7em 0 0 0.7em;
}
.sidebar li {
    margin: 0 0 1.44em 0;
}
.sidebar_internal ul {
    margin: 0.5em;
}
.sidebar_internal li {
    margin: 0 0 0.5em 0.5em;
}
.sidebar_internal h3 {
    line-height: 1.44em;
    margin: 0.2em 0;
    font-size: 1.17em;
    text-decoration: underline;
}
.sidebar_internal a {
    text-decoration: none;
}
.sidebar_internal a:visited {
    color: #0000ee;
}
.content:after, .sidebars:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.footer {
    border-width: 0.3em 0 0 0;
    border-style: double;
    border-color: #DDDDDD;
    padding: 1.0em 1.0em 2.0em;
    font-size: 1.3em;
    text-align: right;
    clear: both;
}

h1.headline_pretty {
    border: medium double;
    border-color: #c9c9c9;
    text-align: center; 
    margin: 0; 
    line-height: 1.308em;
    background-color: #FFFFFF;
}
h2.headline_pretty {
    text-align: center;
    margin: 1.0em 0 0.5em;
}

/* Cavern Classes */
.alert_window {

}
.cavern_window {
    border: solid;
    border-color: #c9c9c9;
    padding: 0.2em;
}
.cavern_window h3 {
    margin: 0.5em;
    text-decoration: underline;
}
/*.to_cavern_links ul {
    list-style-type: none;
    padding: 0 0 0 0.5em;
}
.to_cavern_links li {
    display: inline;
    margin: 0 2.0em 0 0;
}*/
.to_cavern_links form {
    display: inline
}
.cavern_description {
    border: double;
    border-color: #c9c9c9;
    margin: 0.5em 0.5em 0;
    padding: 0.5em 1.5em 0.5em 0.5em;
    max-height: 16.5em;
    overflow: overlay;
    background-color: #FFFFFF;
}
.cavern_description p {
    margin: 0.25em 0 0.75em 0;
}
.cavern_description a:visited {
    color:blue;
}
.to_cavern_links {

}
.scoring_window {
    border: solid;
    border-color: #c9c9c9;
    margin: 1.0em 0 0 0;
}
.scoring_window h3 {
    margin: 0.5em;
    text-decoration: underline;
}
.scoring_window ul {
    list-style-type: none;
    margin: 0.5em;
    text-align: center;
    padding: 0;
}
.scoring_window li {
    font-size: 1.5em;
    display: inline;
    margin: 0 1.0em 0;
}
.game_faq {
    border: solid;
    border-color: #c9c9c9;
    margin: 1.0em 0 0 0;
}
.game_faq h3 {
    margin: 0.5em;
    text-decoration: underline;
}
.game_faq ul {
    list-style-type: none;
}


/* pure-button */
/* from http://purecss.io/buttons/ */
.pure-button {
    display:inline-block;
    *display:inline;
    zoom:1;
    line-height:normal;
    white-space:nowrap;
    vertical-align:baseline;
    text-align:center;
    cursor:pointer;
    -webkit-user-drag:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.pure-button::-moz-focus-inner{
    padding:0;
    border:0
}
.pure-button {
    font-family:inherit;
    font-size:100%;
    *font-size:90%;
    *overflow:visible;
    padding:.5em 1em;
    color:#444;
    color:rgba(0,0,0,.8);
    *color:#444;
    border:2px 
    solid #999;
    background-color:#f8f8f8;
    text-decoration:none;
    border-radius:2px;
    margin: 0 0.5em 0.5em 0.5em;
}
.pure-button-hover,.pure-button:hover,.pure-button:focus {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
    background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
    background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}
.pure-button:focus {
    outline:0
}
.pure-button-active,.pure-button:active {
    box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset
}
.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active {
    border:0;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter:alpha(opacity=40);
    -khtml-opacity:.4;
    -moz-opacity:.4;
    opacity:.4;
    cursor:not-allowed;box-shadow:none
}
.pure-button-hidden {
    display:none
}
.pure-button::-moz-focus-inner {
    padding:0;
    border:0
}
.pure-button-primary,.pure-button-selected,a.pure-button-primary,a.pure-button-selected {
    background-color:#0078e7;color:#fff
} 
