{% extends "base.html" %}

{% block head %}
<link rel="canonical" href="{% url "game_home" %}" />
<meta name="description" content="Try a game which combines elements of caving, spatial reasoning, and general world historical, geographical, literary, and scientific knowledge." />
{% endblock %}

{% block content %}
{% if alert %}
<div class="alert_window" id="alert_window_main">
{% autoescape off %}
{{ alert }}
{% endautoescape %}
</div>
{% endif %}
<div class="cavern_window" style="background-color: {{ current_cavern.color.color }}">
<h1 class="headline_pretty">{{ current_cavern.title }}</h1>
    <div class="cavern_description">
    {% autoescape off %}
    {{ current_cavern.description }}
    <p><strong><a target="_blank" href="http://{{ current_cavern.link }}">Full Article</a> ...</strong></p>
    {% endautoescape %}
    </div>
    <div class="from_cavern_link">
    {% if from_cavern %}
    <h3>Previous Room</h3>
    <form method="POST" name="{{ from_cavern.title }}">{% csrf_token %}
    <input type="hidden" name="current_title" value="{{ from_cavern.title }}">
    <div class="pure-button" id="{{ from_cavern.title }}"><strong>{{ from_cavern.title }}</strong></div>
    </form>
    {% endif %}
    </div>
    <div class="to_cavern_links">
    {% if from_cavern %}<h3>Other Connected Rooms</h3>
    {% else %}<h3>Connected Rooms</h3>
    {% endif %}
    {% if to_caverns %}
    {% for to_cavern in to_caverns %}
    <form method="POST" name="{{ to_cavern.title }}" id=>{% csrf_token %}
    <input type="hidden" name="current_title" value="{{ to_cavern.title }}">
    <div class="pure-button" id="{{ to_cavern.title }}"}}"><strong>{{ to_cavern.title }}</strong></div>
    </form>
    {% endfor %}
    {% else %}
    <div class="alert_window">
    You have reached a dead-end. Turn around and try a different route.
    </div>
    {% endif %}
    </div>
</div>
<div class="game_faq">
<h3>FAQ</h3>
<ul>
<li><strong>This cave is stupid. Can I just go somewhere and read the articles?</strong><br><i>All content comes from <a target="_blank" href="http://en.wikipedia.org/">Wikipedia</a>. If you enjoy this game please visit and support Wikipedia.</i></li>
<li><strong>How many points is it possible to get?</strong><br><i>If you went to every room in this cave, you would get 2,619 points. It is impossible to visit every room (or even close) within 500 moves, which is the largest number that we keep high scores for. As you learn the layout you can triage and prioritize to maximize your high score potential.</i>
<li><strong>Should my kid be playing this game?</strong><br><i>We believe this game offers a valuable educational and spatial reasoning experience for any person, regardless of age. There are no images on this website. However, be aware that in the context of health and medicine, a small number of rooms do have written content relating to illegal drugs and sexuality. Use your discretion.</i></li>
<li><strong>Any clues as to the structure of this cave?</strong><br><i>It's complicated.</i></li>
<li><strong>Why are room X and room Y connected? Why is room Z worth 5 points? Are you trying to make weird, subliminal statements to support some esoteric political or religious ideology?</strong><br><i>No. The layout, connections, and point values are 99% random. The only small exception is that a few key, important rooms are weighted to the front of the cave -- i.e. William Shakespeare, Leonardo da Vinci, Albert Einstein, etc.</i></li>
</ul>
</div>
{% endblock %}

{% block sidebar %}
<div class="scoring_window">
<h3>Your Score</h3>
<ul>
<li>Move Count: <i>{{ move_count_str }}</i></li>
<li>Total Points: <i>{{ total_points_str }}</i></li>
</ul>
</div>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
abstractCavingGameData_temp = {};
abstractCavingGameData_temp.move_count = {{ move_count }};
abstractCavingGameData_temp.total_points = {{ total_points }};
abstractCavingGameData_temp.visited_room_ids = {{ visited_room_ids }};
{% autoescape off %}
abstractCavingGameData_temp.from_title = "{{ current_cavern.title }}";
{% endautoescape %}
</script>
<script src="/static/game.js" /></script>
{% endblock %}