<ul>
<li class="sidebar_internal">
<h3 id="view_high_scores"><a href="{% url "game_home" %}">Start New Game</a></h3>
<h3 id="view_high_scores"><a target="_blank" href="{% url "game_high_scores" %}">View High Scores</a></h3>
</li>
<li class="sidebar_internal">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FThe-Cave-of-Knowledge%2F1512285225693699&amp;width=240&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:290px;" allowTransparency="true"></iframe>
</li>
<li class="sidebar_internal">
<h3>Share</h3>
<ul>
<li><iframe id="facebook_frame" src="//www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.thecaveofknowledge.com&amp;layout=button_count" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe></li>
<li><script type="text/javascript" src="//www.redditstatic.com/button/button1.js"></script></li>
</ul>
</li>
<li class="sidebar_internal">
<h3>Useful Links</h3>
<ul>
<li><a target="_blank" href="http://en.wikipedia.org/">Wikipedia</a></li>
<li><a target="_blank" href="https://www.gutenberg.org/">Project Gutenberg</a></li>
<li><a target="_blank" href="http://books.google.com/">Google Books</a></li>
</ul>
</li>
</ul>
